* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #e2efff;
}

.form-container {
    display: none;
    width: 100%;
    max-width: 600px;
    margin: 20px 0px;
    background-color: #fff;
    padding: 35px;
    border-radius: 18px;
}

.form-container h2 {
    text-align: center;
    color: #1c1c1c;
    margin-bottom: 30px;
}

.form-container p {
    text-align: center;
    color: #777;
    margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
    .card {
        margin: 10px;
    }
}

/*--------------------*/
/*------- FORM -------*/
/*--------------------*/

.input-group {
    position: relative;
    width: 100%;
    margin-bottom: 28px;
}


.input-group input,
.input-group textarea {
    width: 100%;
    height: 55px;
    padding: 16px 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    outline: none;
    font-size: 15px;
    background: transparent;
    transition: 0.3s;
    resize: none;
}

.input-group input:focus,
.input-group textarea:focus {
    border-color: #000;
}

.input-group label {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    padding: 0 5px;
    transition: 0.25s;
    pointer-events: none;
}


.input-group input:focus + label,
.input-group textarea:focus + label,
.input-group input.active + label,
.input-group textarea.active + label {
    top: 0px;
    transform: translateY(-50%);
    font-size: 12px;
    color: #000;
}

#birthDate:focus + label,
#birthDate.active + label {
    top: 0;
    transform: translateY(-50%);
    font-size: 12px;
}


.gender-box {
    margin-bottom: 28px;
}

.gender-title {
    font-weight: 500;
    color: #555;
}

.gender-title span {
    color: red;
}

.radio-group {
    display: flex;
    gap: 25px;
    margin-top: 15px;
}

.radio-group label {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.about-toggle {
    margin-bottom: 28px;

}

.about-toggle label {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-weight: 500;
}

textarea:disabled {
    background: #f2f2f2;
    cursor: not-allowed;
}

.about-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#characterCount {
    color:#777;
    font-size: 13px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.submit-btn {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    background-color: #00c954;
    color: #fff;
}

.cancel-btn {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    background-color: #ff2020;
    color: #fff;
}

input:focus,
textarea:focus {
    box-shadow: 0 0 0 3px rgba(108, 76, 241, .12);
}

/*------REQUIRED------*/

span {
    color: red;
}

/*------- ERROR ------*/

.error {
    display: block;
    color: #dc2626;
    margin-top: 6px;
    font-size: 13px;
}

.add-btn {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    background-color: #000dc9;
    color: #fff;
}

.add-button {
    padding: 10px 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
  
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #00C954;
  color: white;
}