* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter, 'sans-serif';
}

html {
    scroll-behavior: smooth;
}

/* ------------------------------- */
/* ----------- HEADER ------------ */
/* ------------------------------- */

header {
    display: flex;
    
    justify-content: space-between;
    padding: 10px 30px;
    padding-top: 20px;
    border-bottom: 1px solid #d3d3d3;

    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
}

.logo {
    color: #8800ff;
    font-size: 18px;
    font-weight: bolder;
}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: #9b9b9b;
    font-size: 18px;
    align-items: center;
    justify-items: center;
}

nav a:hover {
    color:#8800ff
}

.hire-me {
    background-color: #8800ff;
    color: #fff;
    padding: 8px 14px;
    border: none;
    border-radius: 6px;
}

/* ----------------------------- */
/* ----------- HERO ------------ */
/* ----------------------------- */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 30px;
    gap: 20%;
    border-bottom: 1px solid #aaaaaa;
}

.work-badge {
    color: #8800ff;
    background-color: #ead3ff;
    font-size: 12px;
    padding: 6px 8px;
    margin: 8px 0px;
    border-radius: 12px;
}

.hero-title {
    font-size: 42px;
    color: #1f1f1f;
    padding: 6px 0px;
}

.hero-description {
    color: #5c5c5c;
    padding: 10px 0px;
    font-size: 16px;
}

.hero-btn {
    display: flex;
    justify-content: left;
    gap: 10px;
    padding: 10px 0px;
}

.hero-btn-wbg {
    padding: 10px 15px;
    background-color: #8800ff;
    color: #fff;
    border: none;
    border-radius: 8px;

}

.hero-btn-wobg {
    padding: 10px 15px;
    border: 1px solid #8800ff;
    border-radius: 8px;
    background-color: #fff;
}

.hero-icon {
    display: flex;
    justify-content: right;
    align-items: right;
    flex: 1;
}

.icon-circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 65px;
    font-weight: bold;
    background-color: #ead3ff;
    color: #8800ff;
}

@media (max-width: 768px) {
    .hero-title {
    font-size: 24px;
    color: #1f1f1f;
    padding: 6px 0px;
    }

    .hero {
        flex-direction: column;
    }

    .hero-icon {
        padding-top: 20px;
    }
}

/* --------------------------------- */
/* ----------- PROJECTS ------------ */
/* --------------------------------- */

.pro {
    padding: 60px 30px;
    border-bottom: 1px solid #aaaaaa;
}

.pro-headline {
    font-size: 24px;
    font-weight: bold;
    color:#1f1f1f;
}

.pro-des {
    color: #5c5c5c;
    padding: 10px 0px;
}

.pro-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.pro-card {
    border: 1px solid #808080;
    border-radius: 20px;
    overflow: hidden;

}

.pro-card-up {
    height: 90px;
    background-color: #dfbbff;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.pro-card-down {
    padding: 20px;
   
}

.pro-card-down h4 p{
    margin-bottom: 8px;
   
}

.pro-icons {
    height: 30px;
    width: 30px;
    background-color: #dfbbff;
}

.pro-tag-flex {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    padding-top: 8px;
}

.pro-tag {
    background-color: #efefef;
    border-radius: 15px;
    padding: 4px 8px;
}

@media (max-width: 768px) {
    .pro-container {
        grid-template-columns: 1fr;
    }
}

/* ------------------------------- */
/* ----------- SKILLS ------------ */
/* ------------------------------- */

.skills {
    width: 100%;
    padding: 60px 30px;
    border-bottom: 1px solid #aaaaaa;
    background-color: #eeeeee;
}


.skills-headline {
    font-size: 24px;
    font-weight: bold;
    color:#1f1f1f;
}

.skills-des {
    color: #5c5c5c;
    padding: 10px 0px;
}

.skill {
    margin-bottom: 28px;
}

.skill-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.progress {
    width: 100%;
    height: 5px;
    background-color: #949494;
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background-color: #8800ff;
    border-radius: 10px;
}

.html {
    width: 90%;
}

.css {
    width: 85%;
}

.javascript {
    width: 75%;
}

.angular {
    width: 60%;
}

.react {
    width: 55%;
}

.git {
    width: 70%;
}

.skills-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}

.skills-left {
    width: 50%;
}

.skills-right {
    width: 50%;
    margin-top: -120px;
}

.tools-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    padding-bottom: 30px;
}

.tools {
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    border: 1px solid #9b9b9b;
    border-radius: 10px;
    background-color: #fff;
}

.tools-icons {
    width: 50px;
    height: 50px;
    color: #000;
    padding: 10px;
    border-radius: 10px;
}

.vs {
    background-color: #dfbbff;
}

.vs-tag {
    background-color: #dfbbff;
    padding: 5px 10px;
    border-radius: 20px;
    color: #6a529f;
}

.github {
    background-color: #d3d3d3;
}

.github-tag {
    background-color: #d3d3d3;
    padding: 5px 10px;
    border-radius: 20px;
    color:#898782;
}

.chrome {
    background-color: #e1f5ee;
    color: #3e796c;
}

.chrome-tag {
    background-color: #e1f5ee;
    color: #3e796c;
    padding: 5px 10px;
    border-radius: 20px;
}

.cli {
    background-color: #faeeda;
}

.cli-tag {
    background-color: #faeeda;
    color: #70533f;
    padding: 5px 10px;
    border-radius: 20px;
}

.tools h6 {
    align-items: center;
    text-align: center;
    font-size: 12px;
}

.skills-other-flex {
    margin: 20px;
}

@media (max-width: 768px) {
    .skills-flex {
        flex-direction: column;
    }

    .skills-left {
        width: 100%;
    }

    .skills-right {
        width: 100%;
        padding-top: 60px;
    }

    .tools-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .tools {
        margin: 5px 0px;
    }

    .skils-other-flex {
        margin: 50px 0px;
    }

}

/* -------------------------------- */
/* ----------- CONTACT ------------ */
/* -------------------------------- */

.contact {
    width: 100%;
    padding: 45px 30px;
    border-bottom: 1px solid #aaaaaa;
}


.contact-headline {
    font-size: 24px;
    font-weight: bold;
    color:#1f1f1f;
}

.contact-des {
    color: #5c5c5c;
    padding: 10px 0px;
}

.contact-opts {
    display: flex;
    justify-items: center;
    align-items: center;
    margin: 10px;
    margin-left: 0px;
    width: 50%;
}

.contact-icons {
    width: 30px;
    height: 30px;
    padding: 8px;
    border-radius: 5px;
    background-color: #ead3ff;
    color: #6a529f;
    margin-right: 10px;
}

.contact-flex {
    display: flex;
    justify-content: space-between;
    align-items: top;
    gap: 40px;
}

.contact-form {
    width: 50%;

}

.form-input {
    width: 96%;
    padding: 10px 8px;
    border: 1px solid #aaaaaa;
    margin: 10px;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
}

.fname {
    width: 46%;
}

.form-button {
    width: 96%;
    padding: 10px 8px;
    margin: 10px;
    border-radius: 4px;
    font-size: 14px;
    color: #fff;
    background-color: #8800ff;
    border: none;
}

@media (max-width: 768px) {
    .contact-flex {
        flex-direction: column;
    }

    .contact-form {
        width: 100%;
    }

    .fname {
        width: 43%;
    }
}

/* -------------------------------- */
/* ----------- CONTACT ------------ */
/* -------------------------------- */

.footer {
    width: 100%;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

textarea {
    resize: none;
}

.social {
    display: flex;
    gap: 20px;
}